---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import PlatformBar from "../components/PlatformBar.astro";
import Comparison from "../components/Comparison.astro";
import ScrollStory from "../components/ScrollStory.astro";
import Capabilities from "../components/Capabilities.astro";
import RuleTester from "../components/RuleTester.astro";
import Workflow from "../components/Workflow.astro";
import PublishMorph from "../components/PublishMorph.astro";
import UseCases from "../components/UseCases.astro";
import DataFlow from "../components/DataFlow.astro";
import FounderLetter from "../components/FounderLetter.astro";
import TestimonialsSlot from "../components/TestimonialsSlot.astro";
import Roadmap from "../components/Roadmap.astro";
import Pricing from "../components/Pricing.astro";
import Faq from "../components/Faq.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main id="main">
    <Hero />
    <PlatformBar />
    <Comparison />
    <ScrollStory />
    <Capabilities />
    <RuleTester />
    <Workflow />
    <PublishMorph />
    <UseCases />
    <DataFlow />
    <FounderLetter />
    <TestimonialsSlot />
    <Roadmap />
    <Pricing />
    <Faq />
    <FinalCta />
  </main>
  <Footer />
</BaseLayout>
